.cardsContainer{
    position: static;
    width: 100vw;
    /* height: 80vh; */
    /* background-color: red; */
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    /* max-height: 78vh; */
    margin-top: 15vh;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 30%;
    /* background-color: red; */
    margin-top: 0%;
    margin-left: 32%;
    position: relative;
    border: 0;    
}

.filterContainer{
    position: relative;
    margin-top: 0%;
    top: 17%;
    width: 50vw;
    height: 8vh;
    /* background-color: red; */
    display: flex;
    column-gap: 20%;
    align-items: center;
}

.selector{
    border-radius: 10px;
    margin-left: 8%;
    width: 25%;
    height: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 100%;
    background-color: #bbe2f3;
    border: none;
    box-shadow: 0 0 20px 10px #24536d;
    transition: .2s;
    padding-left: auto;
    padding-right: auto;
}

.selector:hover{
    box-shadow: 0 0 20px 10px #48abe0;
}

/* intermedio */
@media screen and (max-width: 950px){
    
    
    .filterContainer{
       width: 475px;
    }
   
}

/* mobile */
@media screen and (max-width: 412px){
    .cardsContainer{
        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
        align-items: center;
        margin-top: 37%;
        /* background-color: red; */
        height: 70vh;
    
        }
        
        .cards{
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 50%;
            /* background-color: red; */
            margin-top: 0%;
            margin-left: 6%;
            position: relative;
            border: 0;
        }
        .filterContainer{
            top: 20%;
            width: 90vw;
            height: 8vh;
            /* background-color: red; */
            display: flex;
            column-gap: 3%;
            align-items: center;
        }
        
        .selector{
            margin-left: 8%;
            width: 35%;
            height: 50%;
            padding-left: auto;
            padding-right: auto;
        }
}

