.card{
    display: flex;
    /* background-color: aqua; */
    background-image: url(../../img/card-background.jpg);
    flex-direction: row;
    padding: 1px;
    position: relative;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    background-size: 150%;
    /* justify-content: space-evenly; */
    transition: 0.2s;
}
.card:hover{
    box-shadow: 0 0 20px 3px #48abe0;
}
.imageContainer{
    width: 15vw;
    height: auto;
    margin-top: 1vh;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}

.image{
    display: flex;
    border-radius: 10px;
    width: 15vw;
    max-width: 90%;
    position: relative;
    top: 1vh;
}
.name{
    position: relative;
    left: 0vw;
    margin-top: 1px;
    font-size: 90%;
    font-weight: bold;
    background-color: rgba(6, 254, 80, 0.5);
    padding-left: .5em;
    padding-right: .5em;
    
}

.link{
    position: relative;
    bottom: 10%;
    height: 10%;
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
    /* background-color: aqua; */
    
}

.elements{
    width: 15vw;
    height: auto;
    margin-top: 1vh;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    /* background-color: rebeccapurple; */
    
}
.h2{
    margin-top: 4%;
    font-size: 1.5vw;
    background-color: rgba(187, 226, 243,40%);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}




.button{
    position: absolute;
    right: 1%;
    top: 3%;
    background-color: #bbe2f3;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    background-color: #bbe2f3;
    border: none;
    box-shadow: 0 0 10px 5px #24536d;
}
.button:hover{
    box-shadow: 0 0 10px 5px #48abe0;
    cursor: pointer;
}

.favButton{
    position: relative;
    height: 3vh;
    left: .8vw;
    top: 3%;
    background-color: #bbe2f3;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    background-color: #bbe2f3;
    border: none;
    box-shadow: 0 0 10px 5px #24536d;
}
.favButton:hover{
    box-shadow: 0 0 10px 5px #48abe0;
    cursor: pointer;
}

@media screen and (max-width: 412px){
    .card{
        width: 90%;
        height: 20vh;
        background-color: aqua;
        background-size: 150%;
        /* background-image: none; */
        margin-right: 1vw;
        margin-left: 3vw;
        align-items: center;
    }

    .imageContainer{
        width: 30vw;
        height: auto;
        /* background-color: purple; */
        
    }
    .image{
        width: 30vw;
    }

    .elements{
        /* background-color: blue; */
        width: 30vw;

    }
    .h2{
        font-size: 3.5vw;
    }
    .link{
        height: 2vh;
        bottom: 1vh;
        font-size: 3vw;
        
    }
    .name{
        bottom: 5%;
        
        
    }
}
