.busqueda{
    display: flex;
    flex-direction: column;
}
.barra{
    border-radius: 5px;
    margin-top: 5%;
    width: 25vw;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #bbe2f3;
}

.boton{
    width: 5vw;
    background-color: #bbe2f3;
    border-radius: 5px;
    font-size-adjust: auto;
}