.cardsContainer{
    position: static;
    width: 100vw;
    /* height: 80vh; */
    /* background-color: red; */
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    /* max-height: 78vh; */
    margin-top: 10%;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 30%;
    /* background-color: red; */
    margin-top: 0%;
    margin-left: 32%;
    position: relative;
    border: 0;
    
    
}

/* mobile */
@media screen and (max-width: 412px){
    .cardsContainer{
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    margin-top: 25%;
    /* background-color: red; */
    height: 70vh;

    }
    
    .cards{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 50%;
        /* background-color: red; */
        margin-top: 0%;
        margin-left: 6%;
        position: relative;
        border: 0;
    }
}

