.App {
   text-align: center;
   display: flex;
   height: 100vh;
   flex-direction: column;
   align-items: center;
   background-color: black;
   margin-left: 0px;
   margin-right: 0px;
   background-image: url(./img/Rick-And-Morty-bg.png) ,url(./img/back.png);
   background-attachment: fixed;
   background-size: 90vw,90vw;
   background-repeat: no-repeat;
   background-position: bottom,center;
   
}

.searchBar{
   width: 35%;
   display: flex;
   flex-direction: column;
}

@media screen and (max-width: 412px){
   .App {
      background-attachment: fixed;
      background-size: 100vw;
      background-position: bottom,center;
      background-repeat: no-repeat;
      /* background-color: red; */
   
   }
}
